<!-- <div nz-row *ngIf="stateData['District'].data.length">
  <nz-table
      #dynamicTable
      [nzData]="stateData"
      [nzLoading]="tableLoading"
      [nzBordered]="true"
      nzSize="middle"
      [nzShowPagination]="false"
      nzWidthConfig="fixed">
      <thead>
        <tr>
          <th>Disctrict</th>
          <th>Confirmed</th>
          <th>Active</th>
          <th>Recovered</th>
          <th>Deceased</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stateData of dynamicTable.nzData">
          <td>{{ stateData['District'].data }}</td>
          <td>{{ data.confirmed }}</td>
          <td>{{ data.active }}</td>
          <td>{{ data.recovered }}</td>
          <td>{{ data.deaths }}</td>
        </tr>
      </tbody>
    </nz-table>
</div> -->
