<nz-input-group [nzPrefix]="suffixIconSearch">
  <input type="text" nz-input placeholder="Search your District" (keyup)="applyFilter($event)" />
</nz-input-group>
<ng-template #suffixIconSearch><i nz-icon nzType="search"></i></ng-template>

<div nz-row *ngIf="stateData">
  <div nz-col nzFlex="3">
    <nz-table
      #dynamicTable
      [nzPageSize]=10
      [nzFrontPagination]="true"
      [nzShowPagination]="true"
      nzSize="middle"
      [nzData]="stateData"
      [nzLoading]="tableLoading"
      [nzBordered]="true"
      nzWidthConfig="fixed">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Disctrict</th>
          <th>Confirmed</th>
          <th>Active</th>
          <th>Recovered</th>
          <th>Deceased</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stateData of dynamicTable.data; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ stateData['districtName'] }}</td>
          <td>{{ stateData['confirmed'] }}</td>
          <td>{{ stateData['active'] }}</td>
          <td>{{ stateData['recovered'] }}</td>
          <td>{{ stateData['deceased'] }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
