<div nz-row [nzGutter]="16">
  <div nz-col nzFlex="6">
    <h3 nz-typography>Spread of Coronavirus in India</h3><nz-divider></nz-divider>
    <div nz-row>
      <div nz-col nzFlex="3" style="color: rgb(255, 7, 58); font-weight: 500; text-align: center">
        <div>Confirmed</div><br>
        <div *ngIf="confirmed_today > 0; else br">+{{ confirmed_today }}</div>
        <ng-template #br><br></ng-template>
        <div style="font-size: 1.7rem">{{ total_confirmed }}</div>
      </div>
      <div nz-col nzFlex="3" style="color: rgb(0, 123, 255); font-weight: 500; text-align: center">
        <div>Active</div><br>
        <div><br></div>
        <div style="font-size: 1.7rem">{{ total_active }}</div>
      </div>
      <div nz-col nzFlex="3" style="color: rgb(40, 167, 69); font-weight: 500; text-align: center">
        <div>Recovered</div><br>
        <div *ngIf="recovered_today > 0; else br">+{{ recovered_today }}</div>
        <ng-template #br><br></ng-template>
        <div style="font-size: 1.7rem">{{ total_recovered }}</div>
      </div>
      <div nz-col nzFlex="3" style="color: rgb(109, 118, 126); font-weight: 500; text-align: center">
        <div>Deceased</div><br>
        <div *ngIf="deceased_today > 0; else br">+{{ deceased_today }}</div>
        <ng-template #br><br></ng-template>
        <div style="font-size: 1.7rem">{{ total_deceased }}</div>
      </div>
    </div>
    <br><br>
    <div nz-row *ngIf="chartData[0].data.length">
      <div style="display: block" nz-col nzFlex="3">
        <canvas baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          [options]="chartOptions">
        </canvas>
      </div>
    </div>
  </div>
  <div nz-col nzFlex="6">
    <h3 nz-typography>Top 3 States with Most Cases</h3><nz-divider></nz-divider>
    <div nz-row>
      <nz-table
      #dynamicTable
      [nzData]="top3_states"
      [nzLoading]="tableLoading"
      [nzBordered]="true"
      nzSize="middle"
      [nzShowPagination]="false"
      nzWidthConfig="fixed">
      <thead>
        <tr>
          <th>State</th>
          <th>Confirmed</th>
          <th>Active</th>
          <th>Recovered</th>
          <th>Deceased</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dynamicTable.nzData">
          <td><a href="/places-stats/{{data['statecode']}}">{{ data.state }}</a></td>
          <td>{{ data.confirmed }}</td>
          <td>{{ data.active }}</td>
          <td>{{ data.recovered }}</td>
          <td>{{ data.deaths }}</td>
        </tr>
      </tbody>
    </nz-table>
    </div><br><br>
    <div nz-row *ngIf="doughnutChartData.length">
      <h3>Tests Conducted</h3>
      <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>
