<div class="sidebar-logo">
  <a href="">
    <img src="assets/covid_logo.png" alt="logo">
    <h1>Covid-19 Dashboard</h1>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="home" nzTheme="fill"></i>
    <a routerLink="home">Home</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="bank" nzTheme="fill"></i>
    <a routerLink="places-stats">States and District Stats</a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <i nz-icon nzType="flag" nzTheme="fill"></i>
    <a routerLink="travel-history">Travel History</a>
  </li>
</ul>
